:root{
    
    --before-gradient: black;
    --fontcol: white;
    --degreePreference : "C";
}

*{
    color : var(--fontcol);
    margin: 0;
    font-family: MyFont;
}

html,
body{
    position: relative;
    margin: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

body{
    display: flex;
    flex-direction: column;

}

main{
    display: flex;
    flex:1;
    justify-content: space-between;
    padding: 5vw;
}

.currentW-cont{
    align-self: flex-start;
}

.one-line{
    display: flex;
    align-items: center;

}

.current-weather-icon{
    position: relative;
    top:1rem;
    left: -1.5rem;
    height: 10rem;
    display: inline;
    fill: white;
}

.degree-preference-button div{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    background-color: rgba(255, 255, 255, 0.4);
    width: 2rem;
    height: 2rem;
    border-radius: 2rem;
    left: 0.2rem;
    transition-property: left;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
}

.degree-preference-button div.right{
    left: calc(100% - 2.2rem);
}

.degree-preference-button{
    width: 4rem;
    position: relative;
    border: 0.1rem solid white;
    opacity: 0.5;
    display: flex;
    align-items: center;
    height: 2.5rem;
    border-radius: 2rem;
    background: none;
    outline: transparent;
    margin: 0px 1rem;
    transition: opacity 0.2s linear;
}

.degrees::after{
    content: var(--degreePreference);
    font-weight: 600;
    position: relative;
    font-size: 0.3em;
    right: 0.7em;
    bottom: -0.1em;
}

.city-name{
    font-weight: 200;
    font-size: 1.5rem;
}


.current-weather-degree{
    font-size: 10rem;
    display: inline;
}

.current-condition{
    font-size: 2rem;
}

footer{
    display: flex;
    justify-content: center;
    padding: 0.4rem;
}

a{
    text-decoration: none;
    font-weight: 500;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.1);
    border: 0.1rem solid rgba(255, 255, 255, 0.5);
    padding: 2px 10px;
    transition-property: background-color, border;
    transition-duration: 0.3s;
}

a:hover{
    background-color: rgba(0, 0, 0, 0.4);
    border: 0.1rem solid rgba(255, 255, 255, 0);
}

a:focus{
    outline: 1px solid rgba(255, 255, 255, 0.8);
    outline-offset: 3px;
}

nav{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1{
    font-size: 3rem;
    margin: 0 1rem 0 0;
}

label{
    position: relative;
    display: flex;
    align-items: center;
}

input{
    padding: 0.1rem 1rem;
    font-size: 1rem;
    font-weight: 300;
    outline: transparent;
    outline-offset: 0px;
    height: 2rem;
    border-radius: 4rem;
    border: 0.1rem solid rgba(255, 255, 255, 0.5);
    background-color: rgba(0, 0, 0, 0.1);
    transition: all 0.2s linear;
}



input::placeholder{
    color: var(--fontcol);
    opacity: 0.7;
}

input:hover{
    border: 0.1rem solid rgba(255, 255, 255, 0.8);
}

input:focus{
    border: 0.1rem solid rgba(255, 255, 255, 0.8);
    outline: 1px solid rgba(255, 255, 255, 0.3);
    outline-offset: 10px;
}


.search-button svg{
    height: 1.5rem;
    position: absolute;
    fill: var(--fontcol);
    left: 0.45rem;
    top: 0.45rem;
}

.search-button{
    position: relative;
    border: 0.1rem solid white;
    opacity: 0.5;
    display: flex;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 2rem;
    background: none;
    outline: transparent;
    margin: 0px 1rem;
    transition: opacity 0.2s linear;
}

button:hover{
    cursor: pointer;
    opacity: 1;
}

button:focus{
    outline: 1px solid rgba(255, 255, 255, 0.8);
    outline-offset: 10px;
}


.bodyOverlayGradient {
    width: 100%;
    height: 100%;
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: var(--before-gradient);
    z-index: -1;
    transition: opacity 2s linear;
    opacity: 0;
}

.bodyOverlayGradient.transitioning{
    opacity: 1;
}

.right{
    display: flex;
    flex-direction: column;
    width: 60%;
    align-self: stretch;
}

.details-buttons{
    box-sizing: border-box;
    display: flex;
    align-self: flex-start;
    padding: 0.5rem;
}

.details-buttons button{
    border: 0.0rem solid rgba(255, 255, 255, 0.0);
    opacity: 0.8;
    display: flex;
    font-weight: 700;
    align-items: center;
    border-radius: 2rem;
    background-color: rgba(255, 255, 255, 0.3);
    outline: transparent;
    margin: 0px 0.2rem;
    padding: 0.2rem 0.5rem;
    transition: opacity 0.2s linear;
    transition: background-color 0.2s linear;
}

.details-buttons button:hover{
    background-color: rgba(0, 0, 0, 0.1);
    opacity: 1;
}

.details-buttons button.selected{
    opacity: 1;
    border: 0.1rem solid rgba(255, 255, 255, 1);
}

.details-cont{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    box-sizing: border-box;
    border-radius: 1rem;
    padding: 1rem;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
}

.weather-cont{
    position: relative;
    overflow-wrap:break-word;
    width: 6rem;
    height: 4rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.2);
    --hover-opacity:0;
    transition: var(--hover-opacity) 0.3s linear;
}

.weather-cont:hover{
    --hover-opacity:1;
}

.werther-info{
    display: flex;
    align-items: center;
    justify-content: center;
}

.small-weather-icon{
    width: 3rem;
    height: 3rem;
}

.time-small{
    font-size: 1rem;
    font-weight: 600;
}

.degrees-small{
    font-weight: 600;
    font-size: 1rem;
}

.hover-condition{
    z-index: 2;
    font-weight: 1000;
    pointer-events: none;
    position: absolute;
    border-radius: 1rem;
    bottom: -0.2rem;
    transform: translateY(100%);
    text-align: center;
    text-shadow: 0px 0px 9px rgba(0, 0, 0, 0.3);
    background-color: rgba(255, 255, 255, 0.651);
    padding: 0.5rem;
    opacity: var(--hover-opacity);

}

@font-face {
    font-family: MyFont;
    src: url(./Raleway-VariableFont_wght.ttf);
}