:root{
    
    --before-gradient: black;
    --fontcol: white;
}

*{
    color : var(--fontcol);
    margin: 0;
    font-family: MyFont;
}

html,
body{
    position: relative;
    margin: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

body{
    display: flex;
    flex-direction: column;

}

main{
    display: flex;
    flex:1;
    justify-content: space-between;
    padding: 5vw;
}

.currentW-cont{
    align-self: flex-start;
}

.one-line{
    display: flex;
    align-items: center;

}

.current-weather-icon{
    position: relative;
    top:1rem;
    left: -1.5rem;
    height: 10rem;
    display: inline;
    fill: white;
}

.city-name{
    font-weight: 200;
    font-size: 1.5rem;
}


.current-weather-degree{
    font-size: 10rem;
    display: inline;
}

.current-condition{
    font-size: 2rem;
}

footer{
    display: flex;
    justify-content: center;
    padding: 0.4rem;
}

a{
    text-decoration: none;
    font-weight: 500;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.1);
    border: 0.1rem solid rgba(255, 255, 255, 0.5);
    padding: 2px 10px;
    transition-property: background-color, border;
    transition-duration: 0.3s;
}

a:hover{
    background-color: rgba(0, 0, 0, 0.4);
    border: 0.1rem solid rgba(255, 255, 255, 0);
}

a:focus{
    outline: 1px solid rgba(255, 255, 255, 0.8);
    outline-offset: 3px;
}

nav{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1{
    font-size: 3rem;
    margin: 0 1rem 0 0;
}

label{
    position: relative;
    display: flex;
    align-items: center;
}

input{
    padding: 0.1rem 1rem;
    font-size: 1rem;
    font-weight: 300;
    outline: transparent;
    outline-offset: 0px;
    height: 2rem;
    border-radius: 4rem;
    border: 0.1rem solid rgba(255, 255, 255, 0.5);
    background-color: rgba(0, 0, 0, 0.1);
    transition: border 0.1s linear;
    transition: outline-offset 0.2s linear;
    transition: outline 0.2s linear;
}



input::placeholder{
    color: var(--fontcol);
    opacity: 0.7;
}

input:focus{
    border: 0.1rem solid rgba(255, 255, 255, 0.8);
    outline: 1px solid rgba(255, 255, 255, 0.3);
    outline-offset: 10px;
}

.search-button svg{
    height: 1.5rem;
    position: absolute;
    fill: var(--fontcol);
    left: 0.45rem;
    top: 0.45rem;
}

.search-button{
    position: relative;
    border: 0.1rem solid white;
    opacity: 0.5;
    display: flex;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 2rem;
    background: none;
    outline: transparent;
    margin: 0px 1rem;
    transition: opacity 0.2s linear;
}

.search-button:hover{
    opacity: 1;
}

.search-button:focus{
    outline: 1px solid rgba(255, 255, 255, 0.8);
    outline-offset: 10px;
}


.bodyOverlayGradient {
    width: 100%;
    height: 100%;
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: var(--before-gradient);
    z-index: -1;
    transition: opacity 2s linear;
    opacity: 0;
}

.bodyOverlayGradient.transitioning{
    opacity: 1;
}


@font-face {
    font-family: MyFont;
    src: url(./Raleway-VariableFont_wght.ttf);
}